<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Camera
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="temp-img" *ngIf="!currentPic"></div>
        <ion-img *ngIf="currentPic?.webviewPath" [src]="currentPic.webviewPath"></ion-img>
        <div class="camera-button">
          <ion-button (click)="addPhotoToGallery()">
            <ion-icon name="camera"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
