<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <div class="profile">
              <ion-icon name="person-circle-outline"></ion-icon>
              <ion-card-title>
                Dheeraj Sharma
              </ion-card-title>
              <ion-card-subtitle>
                Gallery App: {{ version }}
              </ion-card-subtitle>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
